.card {
    width: 280px;
}

.card_genre {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #FF6B08;
}

span {
    margin: 0 5px;
}

.card_name {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.card_info {
    margin-top: 10px;
}